<div class="">
  <h5 class="text-center m-2">Editer l'image</h5>
  <div style="max-width: 80%; margin: 0 auto;" class="grid justify-content-center">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 4"
      format="png"
      (imageCropped)="imageCropped($event)"
      [roundCropper]="true"
    ></image-cropper>
  </div>
</div>

<div class="grid justify-content-center m-2">
  <p-button
    (click)="onCancel()"
    label="Annuler"
    styleClass="p-button-text"
  ></p-button>
  <button
    (click)="onApply(croppedImage)"
    type="button"
    pButton
    icon="pi pi-check"
    label="Appliquer"
  ></button>
</div>
